
/*For Spinner*/
#overlay {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    /* opacity: .80; */
  }
  
body
{
    width: 100%;
  
}

.container
{     
      width: 100%;
      height: auto;
}

/*for the main title of the application found on the navbar*/
.title, .title:hover
{
    margin-left: 3%;
    color: white;
    font-size: large;
    text-decoration: none;
}

/*floating nav items to the left side of the navbar*/
.nav-pills
{
    margin-left: 70%;
}

/*Changing button font color on the nav bar*/
.menu, .nav-link:focus
{
    color: white;
}

.menu:hover
{
    color: #40415c;
}


/*changing color of nav bar*/
.header
{
    background-color:   #04b9a1;
    height: 20%;
}
/*changing button color for nav menu*/
.mainmenu .menu.active, .mainmenu .show > .menu {
    color: white;
    background-color: #40415c;
}

/*changing tab button color in form*/
.bookingoptions .tabbuttons.active, .bookingoptions .show > .tabbuttons 
{
    color: white;
    background-color: #40415c;
}

.bookingoptions
{
    color: #40415c;
}


/*styling image in first section of page*/
.img-fluid
{
    margin-top: 5%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/*edit the text*/
.contentwriteup
{
    margin-top: 10%;
    color: #40415c;
    text-align: justify;
}
h4, p, h6
{
    margin-left: 10%;
}

/**editing the anchor tag hover and color*/
.bookticket, .bookticket:hover
{
   color: #40415c;
}

/*moving section for ticket downwards a bit*/
.ticketform
{
    margin-top: 7%;
}

/*styling card for ticket form*/
.text-center
{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
}
/*give input box style*/
.form-control
{
    width: 70%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;   
    border-radius: 0%;
    border-color: #40415c;
}
.form-control:focus, .form-select:focus
{
    border-color: #40415c;
    box-shadow: none;
    outline: none;
}


/*for form-select width*/
.form-floating
{
    margin-left: 20%;
}
.form-select
{
    width: 72.5%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;   
    border-radius: 0%;
    border-color: #40415c;
    margin-top: 5%;
}

/*moving form downwards a bit from tab*/
.oneway
{
    margin-top: 2.3%;

}
/*styling background color for button*/
.btn-primary, .btn-primary:hover, .btn-primary:focus
{
    background-color: #04b9a1;
    border-color: #04b9a1;
}
.btn-primary:focus
{
    box-shadow: none;
}
.navbar-toggler-icon
{
    border-color: aliceblue;
}
/*Removing horizontal line beneath tabs*/
.nav-tabs
{
    border-bottom-style: none;
}
.bookingtabs, .bookingtabs:focus, .tabbuttons, .tabbuttons:hover
{
    color: #40415c;
}

/*for the icons box*/
.input-group-text
{
    background-color: white;
    border-left-style: hidden;
    border-right-style:hidden ;
    border-top-style: hidden;
    border-radius: 0%;
    border-bottom-style: groove;
    border-color: #40415c;
}

.bookingoptions
{
    margin-left: 38%;
    
}

/*Responsiveness*/

/*For mobile phones*/
@media screen and (max-width: 567px) 
{
    /*customizing navbar-toggler for mobile version*/
    .navbar-toggler 
    {
        border: none;
    }
    .navbar-toggler:focus
    {
        box-shadow: none;
    }

    /*adjusting text for mobile screen*/
    h4, p, h6
    {
        font-size: medium;
        margin-right: 10%;
    }

    /*adjusting font size for navigation menu*/
    .menu
{
    font-size: small;
}

    /*adjusting image*/
    
    .img-fluid
{
    margin-left: 6%;
    width: 80%;
}

/*giving spaces between input boxes*/

.text-center
{
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.col-sm-2
{
    margin-top: 6%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
h6
{
    text-align: center;
}
h5
{
    display: none;
}
.mainmenu
{
    margin-left: 16%;
    
}

/*reducing width of tab buttons for form*/
.tabbuttons
{
    font-size: small;
}

.bookingoptions
{
    margin-left: 5%;
    flex-wrap:nowrap;
}

/*givng margin btw the select boxes*/
.form-select
{
    margin-top: 18%
}
}